<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild Animal Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Wild Animal Detection Application</h1>
        <form id="uploadForm">
            <input type="file" id="imageInput" name="image" accept="image/*" required>
            <button type="button" onclick="uploadImage()">Predict</button>
        </form>
        <img id="imageDisplay" style="display:none; margin-top: 20px; max-width: 100%;" alt="Uploaded Image">
        <div id="predictionResult"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
